//--------------------------------------------------------------
// Alerts
//
// Import bootstrap alerts
//--------------------------------------------------------------
@import (less) "bootstrap/less/alerts.less";

.alert {
  padding: @alert-padding;
  margin-bottom: @line-height-computed;
  border-width: @border-width-base;
}

.alert-footer,
.alert-header {
  border-left: none;
  border-right: none;
  margin-bottom: 0;
}

.alert-header {
  border-top: none;
}

.alert-footer {
  border-bottom: none;
}
